<nav class="navbar navbar-default  navbar-static-top">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Einstellungen</a></li>
                <li><a href="#">Module</a></li>
            </ul>
        </li>
        <li><a href="#">Abmelden&nbsp;<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
    </ul>
</nav>